<!DOCTYPE html>
<html>

<head>
  {include file='public/head'}
</head>

<body class="layui-anim layui-anim-up">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">商品管理</a>
      <a href="">商品列表</a>
    </span>
  </div>
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so">
        <input class="layui-input" placeholder="课题题目" name="keti_name" id="start" value="{$url_map.keti_name|default=""}">
        <input class="layui-input" placeholder="指导教师" name="teacher" id="end" value='{$url_map.teacher|default=""}'>
        <input class="layui-input" placeholder="教师编号" name="gonghao" id="start" value="{$url_map.gonghao|default=""}">
        <!-- <input class="layui-input" placeholder="方法" name="c" id="end" value='{$url_map.c|default=""}'> -->
        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
      </form>
    </div>
    <xblock>
      <button class="layui-btn">课题列表</button>
      <span class="x-right" style="line-height:40px">共有数据：88 条</span>
    </xblock>
    <table class="layui-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>课题题目</th>
          <th>题目来源</th>
          <th>指导老师</th>
          <th>老师编号</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>


        {volist name='list' id='val'}
        <tr id="tr{$val.id}" >
          <td>{$val.id}</td>
          <td>{$val.keti_name}</td>
          <td>{$val.origin}</td>
          <td>{$val.teacher}</td>
          <td>{$val.gonghao}</td>
          <td>
            <!-- <a href="javascript:" onclick="x_admin_show('添加权限','{:url('power/edit',['id'=>$val.id])}',600,400)" ><i class="layui-icon">&#xe642;</i></a>
            <a href="javascript:" onclick="del(this,{$val.id})" ><i class="layui-icon">&#xe640;</i></a> -->
            <a href="javascript:" onclick="x_admin_show('添加权限','{:url('power/edit',['id'=>$val.id])}',600,400)" >查看</a>
            {eq name="$val.state" value="0"}
            <a href="javascript:" onclick="choice(this,{$val.id})" >选择课题</a>
            {else/}
            <a href="javascript:">有人选</a>
            {/eq}
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div class="page">
      <div>
        {$list->render()}
      </div>
    </div>
  </div>

</body>


<script>


function choice(obj,id){
    layer.confirm('确认要选择吗？',function(index){
        $.ajax({
          url:"{:url('keti/choice')}",
          data:{id:id},
          dataType:'json',
          type:'post',
          success:function(data){
              // console.log(data.status);
              if(data.renwu_state==1||data.kaiti_state==1||data.sheji_state==1){
                  //发异步删除数据
                  // $(obj).parents("tr").remove();
                  layer.msg('选择失败!您已提交过题目',{icon:2,time:1000});
              }else{
                $.ajax({
                  url:"{:url('keti/dochoice')}",
                  data:{id:id},
                  dataType:'json',
                  type:'post',
                  success:function(data){
                        if(data.status==1){
                            layer.msg('选择成功!',{icon:1,time:1000});
                        }else{
                            layer.msg('选择失败!',{icon:2,time:1000});
                        }
                  }
                })
                  
              }
          }
        })
    });
}



</script>


</html>