<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试</title>
</head>
<body>
    角色列表
    <table>
        <tr>
            <td>ID</td>
            <td>角色名称</td>
            <td>操作</td>
        </tr>
        {volist name='list' id='vo'}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.role_name}</td>
            {:url('')}
            <td><a href="{:url('index/info',['id'=>$vo.id])}">查看详情</a></td>
        </tr>  
        {/volist}      
    </table>

</body>
</html>